<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <style>
      body{
        background-image: url(https://media.giphy.com/media/kDBlQb1gYqt8amcrLp/giphy.gif);
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>
  <body>

{% extends 'base.html' %} {% block content %}
<h1>About CyberMusic</h1>

<p>This is CyberMusic, it's an application that creates a space for music enthusiast to express their passion for it. Here you can share your favorite music, albums and songs, alongside recommending new artist to others via posting about them on our app. To get the full experience create a profile and keep tabs of your journey.    </p>
{% endblock %}

<footer>All Rights Reserved, © 2022 CyberMusic</footer>

  </body>
</html>
