<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CyberMusic</title>
  <style>
    body{
      background-image: url(https://media.giphy.com/media/lVxu2tED7Or067RM4J/giphy.gif);
    }
  </style>

  </head>
  <body >

{% extends 'base.html' %} {% block content %}
<h1>Welcome to CyberMusic</h1>

<p>Live your day with music and log your journey.</p>
{% endblock %}

<footer>All Rights Reserved, © 2022 CyberMusic</footer>

  </body>
</html>